{% extends 'Teacher_home.html' %}
{% block content %}


 <!-- Page Heading -->
 <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <a href="#" class="d-none d-sm-inline-block bg-light border-0 small ">
            <h6 class="h6 mb-0 text-primary">{{date}}</h6> </a>
    </div>
<!-- Content Row -->
<div class="row">
   <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                           My overall subjects
                        </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{subjects}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-book fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Earnings (Monthly) Card Example -->
    <div class="col-xl-4 col-md-6 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                            My taken aivabilities this week</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{aivabilities}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-calendar fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Pending Requests Card Example -->
    <div class="col-xl-4 col-md-8 mb-4">
        <div class="card border-left-warning shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                          My closed Subject </div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{subjects_C}}</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-exclamation-triangle  fa-2x text-gray-300"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->

        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">My aivability for today </h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                {% if aivabilities_obj %}
                <div class="table-responsive">
                    <table class="table table-borderless"  width="100%" cellspacing="0">
                        <thead>
                            <tr>
                               <th>Teacher   </th>
                               <th>Hour start</th>
                               <th>Hour end  </th>
                               <th>Status    </th>
                                
                            </tr>
                        </thead>
                        <tbody>
                          {% for schedule in aivabilities_obj %}
                            <tr>
                                <td>{{schedule.formateur_id}}</td>
                                <td>{{schedule.heure_deb}}</td>
                                <td>{{schedule.heure_fin}}</td>
                                {% if schedule.status == 0 %}
                                <td> 
                                <span class="mr-2">
                                    <i class="fas fa-circle text-primary"></i> 
                                </span>
                               </td>
                               {%else%}
                               <td> 
                                <span class="mr-2">
                                    <i class="fas fa-circle text-success"></i> 
                                </span>
                               </td>
                               {% endif %}
                            </tr>
                          {% endfor %}
                          
                        </tbody>
                    </table>
                </div>
                {%else%}
                <h6 class="m-0  text-gray-600">No aivability for today.</h6>
                {% endif %}
           
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Not taken
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Taken
                    </span>

                </div>
            </div>
            
</div>

<!-- Content Row -->


    <!-- Content Column -->
    
        <!-- Color System -->
        
</div>



{%endblock content%}